<div class="wrapper top">
  <div class="devise-form-outer land">
    <%= form_with model: @user, url: user_registration_path, local: true, class: 'basic_form' do |f| %>
      <h2>新規登録</h2>
      <%= render "devise/shared/error_messages", resource: resource %>

        <%= f.label :name, "ユーザーネーム" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>

        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

        <%= f.label :password, "パスワード" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>

        <%= f.label :password_confirmation, "パスワード確認" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>

        <%= f.submit "新規登録", class: "button" %>
    <% end %>
    <div class="devise-form-menu">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
