<div class="wrapper flex top">
  <div class="home-outer">
    <div class="post land">
      <%= render 'shared/post_info', post: @post %>
      <div class="post_contents">
        <p><%= @post.content %></p>
        <% unless @post.image.blank? %>
        <div class="post_image">
          <img src=<%= @post.image %> alt="posts image">
        </div>
        <% end %>
      </div>
      <%= render 'shared/post_menu', post: @post %>
    </div>
    <div class="comments land">
      <% @comments.each do |comment| %>
        <% if comment == @comment %>
          <div class="comment">
            <div class="comments_info">
              <div class="commented_user_icon">
                <%= link_to(users_path(@comment.user)) do %>
                  <% if @comment.user.icon.blank? %>
                    <%= image_tag 'default_icon', class: 'comments_user_icon' %>
                  <% else %>
                    <img src=<%= @comment.user.icon %> alt="user icon", class="comments_user_icon" >
                  <% end %>
                <% end %>
              </div>
              <div class="comment_meta">
                <div class="comment_inner">
                  <div class="posts_meta">
                    <p class="posted_user_name"><%= link_to(@comment.user.name,users_path(@comment.user)) %></p>
                    <p class="updated_time"><%= @comment.updated_at.to_s(:datetime_jp) %>更新</p>
                  </div>
                  <%= render 'shared/comment_menu', comment: @comment %>
                </div>
              </div>
            </div>
            <%= form_with model: @comment, class: "basic_form" do |f| %>
              <% if @comment.errors.any? %>
                <div id="error_explanation">
                  <% @comment.errors.full_messages.each do |message| %>
                  <p>・<%= message %></p>
                  <% end %>
                </div>
              <% end %>
              <%= f.text_area :content %>
              <%= f.submit "投稿", class: "button" %>
            <% end %>
          </div>
        <% else %>
          <%= render 'shared/comment_show', comment: comment %>
        <% end %>
      <% end %>
      <%= will_paginate @comments, previous_label: '<', next_label: '>', inner_window: 1 %>
    </div>
  </div>
</div>
