<div class="wrapper top">
  <div class="devise-form-outer land">
    <%= form_with model: @user, url: new_user_password_path, local: true, class: 'basic_form' do |f| %>
      <h2>パスワード再設定</h2>
      <%= render "devise/shared/error_messages", resource: resource %>

      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>

      <%= f.submit "パスワード再設定メールを送信", class: "button" %>
    <% end %>
    <div class="devise-form-menu">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
